html {
	box-sizing: border-box;
  font-family: "Bevan";
  background-color: #efeee9;
}

*, *::before, *::after {
	box-sizing: inherit;
}

body {
  margin: 0;
}

h1 {
  text-align: center;
  font-size: 2rem;
  color: white;
}

nav {
  background-color: grey;
  border-style: solid;
  border-width: 3px 0px 3px 0px;
  border-color: dimgrey;
}

.nav-boxes a {
  text-align: center;
  color: white;
  text-decoration: none;
  background-color: maroon;

}

.nav-boxes {
  text-align: center;
  margin: 0;
}

.nav-boxes li {
  list-style-type: none;
  font-family: sans-serif;
  display: inline;
  text-decoration: none;
  text-align: center;
  color: white;
  max-width: 10em;
  background-color: maroon;
  border-radius: 3px;
  padding: 10px;
  margin: 5px;
}

.nav-boxes a:hover {
  background-color: red;
}
